/* Variables */
:root {
  --blue: #0088CE;
}

/* Misc */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Buttons */
.btn {
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  padding: 12.5px 35px;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}